.opener {
  padding: 3cm 5px;
}

.filter-form input[type="number"],
.filter-form input[type="text"] {
  outline: 0;
  padding: 3px 8px;
}

.filter-form input[type="number"] {
  width: 30px;
}

.filter-form input[type="submit"] {
  margin: 0;
}

.filter-form input {
  border-radius: 4px;
  margin: 2px;
  outline: 0;
  border: 1px solid #000;
}

.ui-autocomplete {
  cursor: pointer;
  height: 3.5cm;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  filter-form input[type="number"] {
    width: 70vh;
  }
}
