.selectors {
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
  height: auto;
  line-height: 1cm;
  background-color: rgb(143, 143, 143);
}

table {
  overflow-x: auto;
  max-width: 100%;
}

.selectors li {
  margin: 0;
  list-style-type: none;
  padding: 20px;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  color: rgb(255, 254, 254);
  text-transform: uppercase;
  background-color: rgb(143, 143, 143);
}

.selectors li.active {
  background-color: rgb(43, 43, 43);
}

.heading-4 {
  background-color: rgb(46, 46, 46);
  margin: 0;
  padding: 15px;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  color: black !important;
}
